# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
data/workana.db
data/*.db
workana_profile/
Bot/workana_profile/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyenv
.python-version

# Poetry
poetry.toml

# Logs
*.log

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
